.Services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    gap: 4vh;
    animation: servicesAnim 1s ease;
}

@keyframes servicesAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.services-content-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.services-content-module label {
    font-weight: 500;
    color: #f65139;
}

