.Solaris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    position: relative;
}


.solaris-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
}

.solaris-modal-inactive {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: modalAnim 2s ease;
}


.solaris-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 58%;
    height: auto;
    opacity: 0;
}


.solaris-logo label {
    all: unset;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 90px;
    letter-spacing: 15px;
}

@media screen and (min-width: 1024px) {
    .solaris-modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 3vw;
        padding-top: 3vw;
        z-index: 10;
        font-weight: 500;
    }
}

@media screen and (max-width: 1024px) {
    .solaris-modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 3vw;
        padding-top: 3vw;
        z-index: 10;
        font-weight: 500;
    }
}


.solaris-circles {
    display: flex;
    animation: nodefade 3s ease;
}

@keyframes nodefade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*******************/
.solaris-circles-all {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.solaris-circles-all-container {
    display: flex;
    position: relative;
    width: 95vw;
    height: auto;
    max-height: 95vh;
}


#aboutPath {fill: none;stroke: none;stroke-width: 1px;stroke-dasharray: 8;}
#aboutCircle {fill: none; }
#aboutText { font-weight: 500; font-size: 20px;line-height: 24px; fill: #68ee95;}

#servicesPath {fill: none;stroke: none;stroke-width: 1px;stroke-dasharray: 8;}
#servicesCircle { fill: none;}
#servicesText { font-weight: 500; font-size: 20px;line-height: 24px; fill: #f65139;}

#partnersPath {fill: none;stroke: none;stroke-width: 1px;stroke-dasharray: 8;}
#partnersCircle { fill: none;}
#partnersText { font-weight: 500; font-size: 20px;line-height: 24px; fill: #2338df;}

#contactPath {fill: none;stroke: none;stroke-width: 1px;stroke-dasharray: 8;}
#contactCircle {fill: none;}
#contactText { font-weight: 500; font-size: 20px;line-height: 24px; fill: #f350f8;}

#aboutText:hover{cursor: url('../../fonts/cursor2.svg'), auto;}
#servicesText:hover{cursor: url('../../fonts/cursor2.svg'), auto;}
#partnersText:hover{cursor: url('../../fonts/cursor2.svg'), auto;}
#contactText:hover{cursor: url('../../fonts/cursor2.svg'), auto;}

@media screen and (max-width: 1024px){
    .solaris-logo{width: 60vw;height: 60vh; }
    #aboutText {font-size: 30px;}
    #servicesText {font-size: 30px;}
    #partnersText {font-size: 30px;}
    #contactText {font-size: 30px;}
}
@media screen and (max-width: 820px){
    #aboutText {font-size: 40px;}
    #servicesText {font-size: 40px;}
    #partnersText {font-size: 40px;}
    #contactText {font-size: 40px;}
}