.Solaris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    position: relative;
}


.solaris-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
}

.solaris-modal-inactive {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: modalAnim 2s ease;
}


.solaris-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 58%;
    height: auto;
    opacity: 0;
}


.solaris-logo label {
    all: unset;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 90px;
    letter-spacing: 15px;
}

@media screen and (min-width: 1024px) {
    .solaris-modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 3vw;
        padding-top: 3vw;
        z-index: 10;
        font-weight: 500;
    }
}

@media screen and (max-width: 1024px) {
    .solaris-modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 3vw;
        padding-top: 3vw;
        z-index: 10;
        font-weight: 500;
    }
}


.solaris-circles {
    display: flex;
    animation: nodefade 3s ease;
}

@keyframes nodefade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*******************/
.solaris-circles-all {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.solaris-circles-all-container {
    display: flex;
    position: relative;
    width: 95vw;
    height: auto;
    max-height: 95vh;
}


#aboutPath {
    fill: transparent;
    stroke: transparent;
    stroke-width: 0px;
    stroke-dasharray: 8;
}

#aboutText {
    font-weight: 500;
    color: #68ee95;
    fill: #68ee95;
}

.aboutCircle {
    fill: transparent;
    position: relative;
    z-index: 0;
}


#servicesPath {
    fill: none;
    stroke: transparent;
    stroke-width: 0px;
    stroke-dasharray: 8;
}


.servicesCircle {
    fill: transparent;
}

#servicesText {
    font-weight: 500;
    color: #f65139;
    fill: #f65139;
}


.partnersCircle {
    fill: transparent;
}

.absolute {
    position: absolute;
}

#partnersPath {
    fill: none;
    stroke: transparent;
    stroke-width: 0px;
    stroke-dasharray: 8;
}

#partnersText {
    font-weight: 500;
    color: #2338df;
    fill: #2338df;
}


#contactText {
    font-weight: 500;
    color: #f350f8;
    fill: #f350f8;
}

#contactPath {
    fill: none;
    stroke: transparent;
    stroke-width: 0px;
    stroke-dasharray: 8;
}

.contactCircle {
    fill: transparent;
}

