.Solaris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}


.solaris-modal{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}




.solaris-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 58%;
    height: auto;
    /*opacity: 0;*/
}



.solaris-modal-close{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 10;
    font-size: 1.5vw;
}


.solaris-circles{
    display: flex;
    animation: nodefade 3s ease;
    opacity: 0;
}


@keyframes nodefade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*******************/
.solaris-circles-all{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.solaris-circles-all-container{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    max-height: 95vh;
}


#aboutPath {
    fill: none;
    stroke: lightblue;
    stroke-width: 0px;
    stroke-dasharray: 8;
}
#aboutText{
    font-weight: 500;
    font-size: 2vw;
    fill: #5a39df; 
}
#aboutCircle{    fill: transparent;}


#servicesPath{
    fill: none;
    stroke: lightblue;
    stroke-width: 0px;
    stroke-dasharray: 8;
}
#servicesText{
    font-weight: 500;
    font-size: 2vw;
    fill: #f6b43b;
}
#servicesCircle{    fill: transparent;}


#partnersPath {
    fill: none;
    stroke: lightblue;
    stroke-width: 0px;
    stroke-dasharray: 8;
}
#partnersText{
    font-weight: 500;
    font-size: 2vw;
    fill: #68ee95;
}
#partnersCircle{    fill: transparent;}

#contactPath {
    fill: none;
    stroke: lightblue;
    stroke-width: 0px;
    stroke-dasharray: 8;
}
#contactText{
    font-weight: 500;
    font-size: 2vw;
    fill: #f350f8;
}
#contactCircle{    fill:transparent;}




/**************MEDIA QUERIES FOR RESPONSIVE DESIGN***********************/
@media screen and (max-width: 2600px){
    #aboutText{
        font-size: 33px;
    }
    #servicesText{
        font-size: 33px;
    }
    #partnersText{
        font-size: 33px;
    }
    #contactText{
        font-size: 33px;
    }
    .solaris-modal-close{
        font-size: 31px;
    }
}

@media screen and (max-width: 2000px){
    #aboutText{
        font-size: 28px;
    }
    #servicesText{
        font-size: 28px;
    }
    #partnersText{
        font-size: 28px;
    }
    #contactText{
        font-size: 28px;
    }
    .solaris-modal-close{
        font-size: 26px;
    }
}


@media screen and (max-width: 1680px){
    #aboutText{
        font-size: 25px;
    }
    #servicesText{
        font-size: 25px;
    }
    #partnersText{
        font-size: 25px;
    }
    #contactText{
        font-size: 25px;
    }
    .solaris-modal-close{
        font-size: 23px;
    }
}

@media screen and (max-width: 1280px){
    #aboutText{
        font-size: 24px;
    }
    #servicesText{
        font-size: 24px;
    }
    #partnersText{
        font-size: 24px;
    }
    #contactText{
        font-size: 24px;
    }
    .solaris-modal-close{
        font-size: 22px;
    }
}
@media screen and (max-width: 1024px){
    .solaris-logo{
        width: 75%;
        height: 75%;
    }
}
@media screen and (max-width: 800px){
    #aboutText{
        font-size: 24px;
    }
    #servicesText{
        font-size: 24px;
    }
    #partnersText{
        font-size: 24px;
    }
    #contactText{
        font-size: 24px;
    }
    .solaris-modal-close{
        font-size: 22px;
    }
    .solaris-logo{
        width: 80%;
        height: 80%;
    }
}


@media screen and (max-width: 640px){
    #aboutText{
        font-size: 18px;
    }
    #servicesText{
        font-size: 18px;
    }
    #partnersText{
        font-size: 18px;
    }
    #contactText{
        font-size: 18px;
    }
    .solaris-modal-close{
        font-size: 16px;
    }
    .solaris-logo{
        width: 80%;
        height: 80%;
    }
}


@media screen and (max-width: 400px){
    .solaris-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70%;
    }
    #aboutText{
        font-size: 18px;
    }
    #servicesText{
        font-size: 18px;
    }
    #partnersText{
        font-size: 18px;
    }
    #contactText{
        font-size: 18px;
    }
    .solaris-modal-close{
        font-size: 16px;
    }
    .solaris-logo{
        width: 80%;
        height: 80%;
    }
}


