
.About-container{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: aboutAnim 1s ease;
}
@keyframes aboutAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.about-content label{
    font-size: 1.5vw;
    font-weight: 500;
    text-align: justify;
    color: #5a39df;
}






@media screen and (max-width: 2600px){
    .about-content label{
        font-weight: 500;
        font-size: 31px;
    }
}
@media screen and (max-width: 2000px){
    .about-content label{
        font-weight: 500;
        font-size: 26px;
    }
}

@media screen and (max-width: 1680px){
    .about-content label{
        font-size: 23px;
    }
}


@media screen and (max-width: 1280px){
    .about-content label{
        font-weight: 500;
        font-size: 22px;
    }
}

@media screen and (max-width: 800px){
    .about-content label{
        font-weight: 500;
        font-size: 22px;
    }
}
@media screen and (max-width: 640px){
    .about-content label{
        font-weight: 500;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px){
    .about-content label{
        font-weight: 500;
        font-size: 16px;
    }
}

