
.About-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    animation: aboutAnim 1s ease;
}
@keyframes aboutAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.about-content label{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #68ee95;
}


@media screen and (max-width: 1024px){
    .about-content label{
        font-size: 20px;
        font-weight: 500;
    }
}

@media screen and (max-width: 400px){
    .about-content label{
        font-size: 18px;
        font-weight: 500;
    }
}
@media only screen and (max-width: 320px){
    .about-content label{
        font-size: 18px;
        font-weight: 500;
    }
}
@media only screen and (max-width: 280px){
    .about-content label{
        font-size: 12px;
        font-weight: 500;
    }
}

