
.About-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    animation: aboutAnim 1s ease;
}

@keyframes aboutAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94vw;
}

.about-content label {
    color: #68ee95;
}


