.Modal-container {
    display: flex;
    position: relative;
}


.modal-content {
    display: flex;
}

.modal-content-close {
    position: absolute;
    top: 5%;
    left: 90%;
}


.modal-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
