.Navbar-container{
    display: flex;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    opacity: 0;
}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.navbar-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link label{
    all: unset;
    font-size: 1.5vw;
    font-weight: 500;
}



@media screen and (max-width: 2600px){
    .navbar-link label{
        font-weight: 500;
        font-size: 33px;
    }
}
@media screen and (max-width: 2000px){
    .navbar-link label{
        font-weight: 500;
        font-size: 28px;
    }
}
@media screen and (max-width: 1680px){
    .navbar-link label{
        font-weight: 500;
        font-size: 23px;
    }
}

@media screen and (max-width: 1280px){
    .navbar-link label{
        font-weight: 500;
        font-size: 24px;
    }
}
@media screen and (max-width: 800px){
    .navbar-link label{
        font-weight: 500;
        font-size: 24px;
    }
}
@media screen and (max-width: 640px){
    .navbar-link label{
        font-weight: 500;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px){
    .navbar-link label{
        font-weight: 500;
        font-size: 18px;
    }
}

