.Navbar-container {
    display: flex;
    align-items: start;
    padding-left: 3vw;
    padding-top: 3vw;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.2rem;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
}

.navbar-link label {
    all: unset;
    text-align: right;
    font-weight: 500;
}


@media screen and (min-width: 1024px) {
    .navbar-link label {
        font-weight: 500;
    }
}

@media screen and (max-width: 400px) and (min-width: 1024px) {
    .navbar-link label {
        font-weight: 500;
    }
}


@media screen and (max-width: 400px) and (min-width: 320px) {
    .navbar-link label {
        font-weight: 500;
    }
}

@media only screen and (max-width: 320px) and (min-width: 280px) {
    .navbar-link label {
        all: unset;
    }
}

@media only screen and (max-width: 280px) {
    .navbar-link label {
        all: unset;
    }
}