.Partners-container{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: partnersAnim 1s ease; 
}
@keyframes partnersAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.partners-container-wrapper{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-areas: "cod-module conlab-module crypto-module filecoin-module"
                         "fvm-module" "lotus-module" "pll-module" "ret-module";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners-module{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#cod{
    width: 36%;
    height: 36%;
}

#conlabs{
    width: 50%;
    height: 50%;
}

#cryptoecon{
    width: 60%;
    height: 60%;
}

#filecoin{
    width: 60%;
    height: 60%;
}

#FVM{
    width: 70%;
    height: 70%;
}

#lotus{
    width: 65%;
    height: 65%;
}

#PLlabs{
    width: 55%;
    height: 55%;
}

#Retmarkets{
    width: 60%;
    height: 60%;
}


@media screen and (max-width: 420px){
    .partners-container-wrapper{
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-areas: "cod-module conlab-module crypto-module filecoin-module"
                             "fvm-module" "lotus-module" "pll-module" "ret-module";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #cod{
        width: 50%;
        height: 50%;
    }
    #conlabs{
        width: 70%;
        height: 70%;
    }
    
    #cryptoecon{
        width: 80%;
        height: 80%;
    }
    
    #filecoin{
        width: 75%;
        height: 75%;
    }
    
    #FVM{
        width: 80%;
        height: 80%;
    }
    
    #lotus{
        width: 75%;
        height: 75%;
    }
    
    #PLlabs{
        width: 70%;
        height: 70%;
    }
    
    #Retmarkets{
        width: 70%;
        height: 70%;
    }
    
}