.App {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    cursor: url('./fonts/cursor1.svg'), auto;
}

.App-cursor {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: url('./fonts/cursor2.svg'), auto;
}

.app-navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
}


.app-main-section {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}

.app-footer-section {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 5vh;
    z-index: 999;
}



